dify_file.yml
app:
  description: ''
  icon: '+1'
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 股票全分析（项目promax版本）2
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/json_process:0.0.3@e5d63c6e289bf1974dd55fde5e0347ab108f7df0b95044e292e02e1b41c71668
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 2e0a2539-345c-4723-8b1b-b653e1a0caef
    name: findings
    selector:
    - conversation
    - findings
    value: []
    value_type: array[string]
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1739246156652-source-answer-target
      selected: false
      source: '1739246156652'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1776865605690-source-1776865406419-target
      selected: false
      source: '1776865605690'
      sourceHandle: source
      target: '1776865406419'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1776865633941-source-1776775338182-target
      selected: false
      source: '1776865633941'
      sourceHandle: source
      target: '1776775338182'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1739229221219-source-1776865104091-target
      selected: false
      source: '1739229221219'
      sourceHandle: source
      target: '1776865104091'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1776865104091-source-1776951200140-target
      selected: false
      source: '1776865104091'
      sourceHandle: source
      target: '1776951200140'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1776951200140-true-1776865605690-target
      selected: false
      source: '1776951200140'
      sourceHandle: 'true'
      target: '1776865605690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1776951200140-true-1776865633941-target
      selected: false
      source: '1776951200140'
      sourceHandle: 'true'
      target: '1776865633941'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1776951200140-false-1776951238187-target
      selected: false
      source: '1776951200140'
      sourceHandle: 'false'
      target: '1776951238187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: agent
      id: 1776865633941-source-1777180873585-target
      selected: false
      source: '1776865633941'
      sourceHandle: source
      target: '1777180873585'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 1777180873585-source-1776947104022-target
      selected: false
      source: '1777180873585'
      sourceHandle: source
      target: '1776947104022'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1776865406419-source-1776947138410-target
      selected: false
      source: '1776865406419'
      sourceHandle: source
      target: '1776947138410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: agent
      id: 1776775338182-source-17789969168400-target
      selected: false
      source: '1776775338182'
      sourceHandle: source
      target: '17789969168400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: agent
      id: 1776775338182-source-17789970004550-target
      selected: false
      source: '1776775338182'
      sourceHandle: source
      target: '17789970004550'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 17789970004550-source-1776947168738-target
      selected: false
      source: '17789970004550'
      sourceHandle: source
      target: '1776947168738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 17789969168400-source-1776947168738-target
      selected: false
      source: '17789969168400'
      sourceHandle: source
      target: '1776947168738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: 1776947168738-source-1778997149817-target
      source: '1776947168738'
      sourceHandle: source
      target: '1778997149817'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1778997149817-source-1739246156652-target
      source: '1778997149817'
      sourceHandle: source
      target: '1739246156652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: 1776947138410-source-1778997149817-target
      source: '1776947138410'
      sourceHandle: source
      target: '1778997149817'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: 1776947104022-source-1778997149817-target
      source: '1776947104022'
      sourceHandle: source
      target: '1778997149817'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 72
      id: '1739229221219'
      position:
        x: 0
        y: 163
      positionAbsolute:
        x: 0
        y: 163
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '

          {{#1739246156652.text#}}'
        desc: ''
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 3196.390158215458
        y: 285.27346206744323
      positionAbsolute:
        x: 3196.390158215458
        y: 285.27346206744323
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: deepseek-reasoner
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 89c17d58-6a63-4f4f-98fe-f6534ec1ecb0
          role: system
          text: '# Role

            你是一位就职于顶级量化对冲基金的资深另类数据分析师（Alternative Data Analyst）。你拥有极高的商业敏锐度，擅长在海量噪音中剥离出核心的“预期差”。


            # Objective

            你的任务是接收并深度融合三个维度的数据（官方事实、量价因子、大众情绪），不带任何感情色彩地撰写一份极具实战指导意义的投研情报简报。请绝对避免流水账式的复述，高管们只需要看洞察与结论。


            # Analytical Framework (思考链路)

            在撰写报告前，你必须在内部进行以下逻辑推演：

            - 共振测试：基本面利好（Web） + 资金面狂热（AkShare） + 散户情绪沸腾（B站） = 趋势确立或加速赶顶？

            - 背离测试：资金面强势拉升（AkShare），但 B 站情绪极度负面（吐槽产品缺陷） = 典型的概念炒作与基本面透支，存在极高的诱多风险。

            - 预期差发掘：官方新闻平平无奇（Web），但 B 站出现了现象级的口碑发酵，且量价数据（AkShare）刚刚出现异动 = 绝佳的左侧潜伏机会。


            # Output Structure

            请严格按照以下结构输出 Markdown 格式的分析报告：


            ## 核心预期差与战略定调 (Core Insight)

            [一针见血地指出当前市场共识是什么，真实的撕裂点在哪里。明确给出战略定调：顺势做多、左侧规避、还是关注反转拐点。]


            ## 数据交叉验证分析 (Cross-Validation Analysis)

            [结合输入的数据，分点阐述：]

            1. **资金与形态折射**：基于 AkShare 提供的区间涨幅、极值和换手率，判断当前筹码处于什么结构（如：缩量洗盘、高位派发、加速主升浪）。给出akshare数据的开始结束时间，并输出图表加强说服力

            2. **事实与情绪博弈**：对比 Web 检索到的官方利好/利空，与 B 站抓取到的终端真实口碑。它们是相互印证，还是南辕北辙？如果b站获取的信息与话题并无关联，则可能说明民间死寂，或者信息来源不充分，这点需要说明


            ## 实战推演与风险控制 (Actionable Strategy & Risk)

            - **交易/商业推演**：如果作为多头（或企业决策者），此刻最应该利用的逻辑是什么？

            - **左侧风险预警**：基于当前的数据背离情况，列出未来一周内最有可能刺破逻辑的“黑天鹅”因素。


            # Constraints

            - 语气必须极度客观、干练。

            - 严禁使用“总而言之”、“在这个充满变数的市场中”等毫无意义的废话。

            - 必须引用具体的数据点（如具体的涨幅 %、具体的 B 站代表性吐槽）来支撑你的结论。

            - 最后给出你的总结性建议（观望，看涨看跌）'
        - id: ad865175-ad5d-46d6-b663-5db68fc2793d
          role: user
          text: "# Input Data\n1. 【Web宏观事实】(Deep Research)：{{#1776865406419.text#}}\n\
            \   包含标的近期的新闻公告、研报摘要及行业宏观背景。\n2. 【AkShare量价因子】(Quant Data)：{{#1777180873585.text#}}\n\
            \   包含标的近期涨跌幅、最高/最低价边界、换手率及收盘价时序轨迹。\n3. 【视频平台舆情与情绪】(Social Sentiment)：\n\
            {{#conversation.findings#}}\n   包含消费者、散户对于该标的（或相关产品/事件）的最真实反馈与情绪倾向。"
        selected: false
        title: Reasoning Model
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1739246156652'
      position:
        x: 2834.2780316430917
        y: 265.8833038519854
      positionAbsolute:
        x: 2834.2780316430917
        y: 265.8833038519854
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776865633941'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 3993c43b-aacc-460b-9a5b-beb7e0b86d0b
          role: system
          text: '基于刚才检索的所有结果{{#1776865633941.text#}}，（此结果可能为股票或etf代码，也可能是某证券所在领域）为我生成
            1个最精准的 搜索关键词以及搜索排序方式（排序策略。可选值：totalrank(综合排序，适用于宏观行业与长期趋势), pubdate(最新发布，适用于突发事件的应激反应),
            click(最多点击)。大模型需根据调研场景自主选择。以便于更好了解证券市场的情况和信息

            ## 输出

            - 请以json格式输出，绝对不要使用 ```json 和 ``` 这样的 Markdown 代码块标记将结果包裹起来。直接以 { 开始，以
            } 结束。


            ```json

            keyword: str

            sort: str

            ```

            '
        - id: 93c12451-c57a-46bf-a42b-513ebc8b151e
          role: user
          text: "## topic\n{{#sys.query#}}\n\n# findings \n{{#conversation.findings#}}"
        - id: 2b3aa7be-7df9-4bd2-835e-751e29980f86
          role: assistant
          text: ''
        selected: false
        title: 搜索关键词
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1776775338182'
      position:
        x: 1410.2780316430915
        y: 184
      positionAbsolute:
        x: 1410.2780316430915
        y: 184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 4dae37e3-4f27-40eb-83bd-1dd6f7219df4
          role: system
          text: "你是一个股票行业分析专家，根据用户给出信息，确定需要分析的股票名称以及代码，或者行业ETF名称,\n\nstockcode_name为akshare调用的symbol，具体股票是代码，行业是名称\n\
            search是网页搜索的主题\n## 输出\n如果确实存在相关股票或ETF或证券领域：\n- 请以json格式输出，绝对不要使用 ```json\
            \ 和 ``` 这样的 Markdown 代码块标记将结果包裹起来。直接以 { 开始，以 } 结束。\n\n```json\nstockcode_name：str\n\
            search: str \n```\n\n如果不存在相关信息或用户输入无意义：\n返回空值"
        - id: a8f4c26c-c404-4379-9071-7df6d014bce2
          role: user
          text: 用户需求{{#sys.query#}}
        selected: false
        title: 确定主题
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1776865104091'
      position:
        x: 342
        y: 155
      positionAbsolute:
        x: 342
        y: 155
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: interest
            ja_JP: interest
            pt_BR: interest
            zh_Hans: interest
          llm_description: ''
          max: null
          min: null
          name: interest
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          interest: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 42f74061-6c79-430d-922e-661ff2f19f38
        provider_name: 联网查询搜索
        provider_type: workflow
        selected: false
        title: 联网查询搜索
        tool_configurations: {}
        tool_description: 联网搜索相关信息
        tool_label: 联网查询搜索
        tool_name: netconnect_search
        tool_node_version: '2'
        tool_parameters:
          interest:
            type: mixed
            value: '{{#1776865605690.text#}}'
        type: tool
      height: 51
      id: '1776865406419'
      position:
        x: 1429.8632689662784
        y: 0
      positionAbsolute:
        x: 1429.8632689662784
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON data
            ja_JP: JSON data
            pt_BR: JSON数据
            zh_Hans: JSON数据
          label:
            en_US: JSON data
            ja_JP: JSON data
            pt_BR: JSON data
            zh_Hans: JSON数据
          llm_description: JSON data to be processed
          max: null
          min: null
          name: content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON fields to be parsed
            ja_JP: JSON fields to be parsed
            pt_BR: JSON fields to be parsed
            zh_Hans: 需要解析的 JSON 字段
          label:
            en_US: JSON filter
            ja_JP: JSON filter
            pt_BR: JSON filter
            zh_Hans: JSON解析对象
          llm_description: JSON fields to be parsed
          max: null
          min: null
          name: json_filter
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: true
          form: form
          human_description:
            en_US: Ensure the JSON output is ASCII encoded
            ja_JP: Ensure the JSON output is ASCII encoded
            pt_BR: Ensure the JSON output is ASCII encoded
            zh_Hans: 确保输出的 JSON 是 ASCII 编码
          label:
            en_US: Ensure ASCII
            ja_JP: Ensure ASCII
            pt_BR: Ensure ASCII
            zh_Hans: 确保 ASCII
          llm_description: ''
          max: null
          min: null
          name: ensure_ascii
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          content: ''
          ensure_ascii: ''
          json_filter: ''
        plugin_id: langgenius/json_process
        plugin_unique_identifier: langgenius/json_process:0.0.3@e5d63c6e289bf1974dd55fde5e0347ab108f7df0b95044e292e02e1b41c71668
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=0469887d-dc54-4325-94af-d721ad78f44b&filename=2e9f75c0e5502c96a2dfdd557f425271f6b97a4b4ba5c6a5f017e0f933567d11.svg
        provider_id: langgenius/json_process/json_process
        provider_name: langgenius/json_process/json_process
        provider_type: builtin
        selected: false
        title: search
        tool_configurations:
          ensure_ascii:
            type: constant
            value: true
        tool_description: 一个解析JSON对象的工具
        tool_label: JSON 解析
        tool_name: parse
        tool_node_version: '2'
        tool_parameters:
          content:
            type: mixed
            value: '{{#1776865104091.text#}}'
          json_filter:
            type: mixed
            value: search
        type: tool
      height: 87
      id: '1776865605690'
      position:
        x: 1044
        y: 6
      positionAbsolute:
        x: 1044
        y: 6
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON data
            ja_JP: JSON data
            pt_BR: JSON数据
            zh_Hans: JSON数据
          label:
            en_US: JSON data
            ja_JP: JSON data
            pt_BR: JSON data
            zh_Hans: JSON数据
          llm_description: JSON data to be processed
          max: null
          min: null
          name: content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: JSON fields to be parsed
            ja_JP: JSON fields to be parsed
            pt_BR: JSON fields to be parsed
            zh_Hans: 需要解析的 JSON 字段
          label:
            en_US: JSON filter
            ja_JP: JSON filter
            pt_BR: JSON filter
            zh_Hans: JSON解析对象
          llm_description: JSON fields to be parsed
          max: null
          min: null
          name: json_filter
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: true
          form: form
          human_description:
            en_US: Ensure the JSON output is ASCII encoded
            ja_JP: Ensure the JSON output is ASCII encoded
            pt_BR: Ensure the JSON output is ASCII encoded
            zh_Hans: 确保输出的 JSON 是 ASCII 编码
          label:
            en_US: Ensure ASCII
            ja_JP: Ensure ASCII
            pt_BR: Ensure ASCII
            zh_Hans: 确保 ASCII
          llm_description: ''
          max: null
          min: null
          name: ensure_ascii
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          content: ''
          ensure_ascii: ''
          json_filter: ''
        plugin_id: langgenius/json_process
        plugin_unique_identifier: langgenius/json_process:0.0.3@e5d63c6e289bf1974dd55fde5e0347ab108f7df0b95044e292e02e1b41c71668
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=0469887d-dc54-4325-94af-d721ad78f44b&filename=2e9f75c0e5502c96a2dfdd557f425271f6b97a4b4ba5c6a5f017e0f933567d11.svg
        provider_id: langgenius/json_process/json_process
        provider_name: langgenius/json_process/json_process
        provider_type: builtin
        selected: false
        title: stockcode_name
        tool_configurations:
          ensure_ascii:
            type: constant
            value: true
        tool_description: 一个解析JSON对象的工具
        tool_label: JSON 解析
        tool_name: parse
        tool_node_version: '2'
        tool_parameters:
          content:
            type: mixed
            value: '{{#1776865104091.text#}}'
          json_filter:
            type: mixed
            value: stockcode_name
        type: tool
      height: 87
      id: '1776865633941'
      position:
        x: 1062.4731107508205
        y: 162.52688924917948
      positionAbsolute:
        x: 1062.4731107508205
        y: 162.52688924917948
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'akshare数据分析中



          '
        selected: false
        title: akshare数据分析中
        type: answer
        variables: []
      height: 99
      id: '1776947104022'
      position:
        x: 2269.506854363473
        y: 607.7803164309157
      positionAbsolute:
        x: 2269.506854363473
        y: 607.7803164309157
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '联网查询搜索中



          '
        selected: false
        title: 联网查询搜索中
        type: answer
        variables: []
      height: 99
      id: '1776947138410'
      position:
        x: 2274.784886006564
        y: -5.278031643091566
      positionAbsolute:
        x: 2274.784886006564
        y: -5.278031643091566
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '视频分析结束


          '
        selected: false
        title: 视频分析中
        type: answer
        variables: []
      height: 99
      id: '1776947168738'
      position:
        x: 2163.946221501641
        y: 241.4101931011648
      positionAbsolute:
        x: 2163.946221501641
        y: 241.4101931011648
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is not
            id: ba006de3-7910-48a0-a34a-7e2c4680c76c
            value: '{}'
            varType: string
            variable_selector:
            - '1776865104091'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 123
      id: '1776951200140'
      position:
        x: 683
        y: 137
      positionAbsolute:
        x: 683
        y: 137
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 未找到相关stock信息，请检查输入
        selected: false
        title: '直接回复 '
        type: answer
        variables: []
      height: 99
      id: '1776951238187'
      position:
        x: 983.302636104447
        y: 464.1166961480146
      positionAbsolute:
        x: 983.302636104447
        y: 464.1166961480146
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '你是一位服务于顶级机构的资深量化风控研究员。

              你的核心任务是：精准识别用户的查询意图，自主调用底层量化数据接口，并为用户输出一份结构化、极具专业感的投资诊断简报。


              【执行 SOP（标准作业程序）：你必须严格按以下两步执行】


              ### 第一步：意图解析与工具调用

              1. 提取标的 (symbol)：从用户的输入中，提取出想要查询的股票名称、代码或板块名称（例如：“贵州茅台”、“600519”、“半导体”），这将作为你调用工具时必须填写的
              `symbol` 参数。

              2. 判定类型 (asset_type)：根据你的金融知识，判断该标的是股票（填 "stock"）、ETF基金（填 "etf"）还是行业/概念板块（填
              "board"）。

              3. 立即调用：使用上述确定的 `symbol` 和 `asset_type`，立即调用你拥有的【获取融合量化因子】工具获取数据。


              ### 第二步：研报生成与图表渲染

              在工具成功返回 JSON 数据后，请仔细读取数据中的 `analysis_summary`（诊断文本）和 `chart_url`（图片路径）字段，并按以下结构输出最终回复：


              1. 核心结论先行：将工具返回的 `analysis_summary` 转化为流畅的投研报告口吻。明确指出当前标的处于震荡、偏弱还是偏强状态。

              2. 因子深度剖析：基于返回的各项指标（如MACD、RSI、MFI），给出客观的风险预警（注意提示超买或超卖风险）。如果上下文中存在新闻舆情数据，请将技术面诊断与舆情进行交叉验证。记得说明数据开始截止日期，时间区间

              3. 数据红线：严禁捏造！只允许使用工具返回的真实数值，绝不可自行编造收盘价或因子数据。

              4. 图表呈现（关键！）：你必须在报告的最末尾，使用 Markdown 格式渲染底层引擎生成的走势图。你需要将工具返回的 `chart_url`
              字段的值，拼接到服务器地址后直接输出（切勿使用代码块包裹）。


              输出格式严格参照如下：

              ![量价走势与布林带图](http://host.docker.internal:8005【这里替换为工具返回的 chart_url 的真实值】)

              (举例：如果工具返回的 chart_url 是 /static/images/123.png，你必须输出：![量价走势与布林带图](http://host.docker.internal:8005/static/images/123.png))'
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-chat
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: 用户的输入{{#1776865633941.text#}}
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 获取融合量化因子
              parameters:
                asset_type:
                  auto: 1
                  value: null
                period_months:
                  auto: 1
                  value: null
                symbol:
                  auto: 1
                  value: null
              provider_name: 59b5a4fc-2dd8-4df6-abac-6235f395a19c
              provider_show_name: akshare数据+因子
              settings: {}
              tool_description: 获取融合量化因子
              tool_label: get_comprehensive_factors
              tool_name: get_comprehensive_factors
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.34@4b41a374567eb7cb226ee2f851513794566956008f1166c63205efc921be72d8
        selected: false
        title: Agent 3
        tool_node_version: '2'
        type: agent
      height: 187
      id: '1777180873585'
      position:
        x: 1307.3564146028061
        y: 607.7803164309157
      positionAbsolute:
        x: 1307.3564146028061
        y: 607.7803164309157
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '你是一位顶级的量化研究员与另类数据分析师。

              你的任务是调用工具获取一份 B 站视频列表，并精准筛选出最具“舆情分析价值”的 3 个视频，然后调用工具进行弹幕和评论深挖。



              【筛选评估核心基准】

              请根据视频标题进行预判，严格遵循以下 3 个维度挑选：

              1. 观点碰撞度：优先选择可能存在争议、深度评测或硬核拆解的视频。这类视频通常拥有极高密度的弹幕和评论交锋。

              2. 视角多样性：尽量保证这 3 个视频涵盖不同的受众视角（例如：一个专业科普/评测、一个大众消费者吐槽、一个行业新闻解读），避免选择同质化的内容。

              3. 排除噪音：坚决排除明显的标题党、纯搞笑无营养、或者与核心主题的“预期差”毫不相关的边缘视频。


              '
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-chat
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '【当前调研的核心主题：keyword】

              {{#1776775338182.text#}}的keyword

              【搜索的排序方式：sort】

              {{#1776775338182.text#}}的sort

              【候选视频列表】

              运行search_videos获得的数据

              '
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 传入一组BVID列表，利用异步协程同时获取多个视频的元数据、弹幕列表及多页评论区留言。这是集成度最高的终极探测接口。
              parameters:
                bvids:
                  auto: 1
                  value: null
                max_limit:
                  auto: 1
                  value: null
                max_pages:
                  auto: 1
                  value: null
              provider_name: a10fc799-4ed8-49b6-b22d-29b5c18283b7
              provider_show_name: b站并发
              settings: {}
              tool_description: 传入一组BVID列表，利用异步协程同时获取多个视频的元数据、弹幕列表及多页评论区留言。这是集成度最高的终极探测接口。
              tool_label: get_batch_full_bili_data
              tool_name: get_batch_full_bili_data
              type: api
            - enabled: true
              extra:
                description: 根据大模型研判的关键词、排序策略和时长区间，跨分区检索 B 站视频。获取最高价值的情绪样本锚点供后续管线深挖。
              parameters:
                keyword:
                  auto: 1
                  value: null
                order_type:
                  auto: 1
                  value: null
                page:
                  auto: 1
                  value: null
                time_range:
                  auto: 1
                  value: null
              provider_name: 3c20184e-ad24-493c-bff3-f73c68f1d725
              provider_show_name: b站视频搜索
              settings: {}
              tool_description: 根据大模型研判的关键词、排序策略和时长区间，跨分区检索 B 站视频。获取最高价值的情绪样本锚点供后续管线深挖。
              tool_label: search_videos
              tool_name: search_videos
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        isInIteration: false
        isInLoop: false
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.34@4b41a374567eb7cb226ee2f851513794566956008f1166c63205efc921be72d8
        selected: false
        title: Agent 2
        tool_node_version: '2'
        type: agent
      height: 187
      id: '17789969168400'
      position:
        x: 1766
        y: 101
      positionAbsolute:
        x: 1766
        y: 101
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '你是一位顶级的量化研究员与另类数据分析师。

              你的任务是调用工具获取一份抖音站视频列表，并精准筛选出最具“舆情分析价值”的 3 个视频，然后调用工具进行弹幕和评论深挖。



              【筛选评估核心基准】

              请根据视频标题进行预判，严格遵循以下 3 个维度挑选：

              1. 观点碰撞度：优先选择可能存在争议、深度评测或硬核拆解的视频。这类视频通常拥有极高密度的弹幕和评论交锋。

              2. 视角多样性：尽量保证这 3 个视频涵盖不同的受众视角（例如：一个专业科普/评测、一个大众消费者吐槽、一个行业新闻解读），避免选择同质化的内容。

              3. 排除噪音：坚决排除明显的标题党、纯搞笑无营养、或者与核心主题的“预期差”毫不相关的边缘视频。


              '
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: deepseek-chat
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '【当前调研的核心主题：keyword】

              {{#1776775338182.text#}}的keyword

              【搜索的排序方式：sort】

              {{#1776775338182.text#}}的sort

              【候选视频列表】

              运行search_videos获得的数据

              '
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 模拟人类交互进行视频关键词搜索，自动过滤冗余数据并提取核心业务字段（包含视频ID、作者、点赞量及文本描述）。
              parameters:
                headless:
                  auto: 1
                  value: null
                keyword:
                  auto: 1
                  value: null
                max_pages:
                  auto: 1
                  value: null
              provider_name: 69206c5b-3dc0-4e4d-a802-49dc5536c0e8
              provider_show_name: dy搜索
              settings: {}
              tool_description: 模拟人类交互进行视频关键词搜索，自动过滤冗余数据并提取核心业务字段（包含视频ID、作者、点赞量及文本描述）。
              tool_label: search_douyin_videos
              tool_name: search_douyin_videos
              type: api
            - enabled: true
              extra:
                description: 使用底层签名协议直接请求数据接口，高速且稳定地获取抖音视频的用户评论。
              parameters:
                aweme_id:
                  auto: 1
                  value: null
                max_comments:
                  auto: 1
                  value: null
              provider_name: 6e4eb82a-6b2a-40c5-bc3a-54f85bed9aff
              provider_show_name: dy评论
              settings: {}
              tool_description: 使用底层签名协议直接请求数据接口，高速且稳定地获取抖音视频的用户评论。
              tool_label: fetch_douyin_comments
              tool_name: fetch_douyin_comments
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        isInIteration: false
        isInLoop: false
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.34@4b41a374567eb7cb226ee2f851513794566956008f1166c63205efc921be72d8
        selected: false
        title: Agent 1
        tool_node_version: '2'
        type: agent
      height: 187
      id: '17789970004550'
      position:
        x: 1766
        y: 368
      positionAbsolute:
        x: 1766
        y: 368
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: append
          value:
          - '17789969168400'
          - text
          variable_selector:
          - conversation
          - findings
          write_mode: over-write
        - input_type: variable
          operation: append
          value:
          - '17789970004550'
          - text
          variable_selector:
          - conversation
          - findings
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 109
      id: '1778997149817'
      position:
        x: 2503.8340949292747
        y: 254.88330385198537
      positionAbsolute:
        x: 2503.8340949292747
        y: 254.88330385198537
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 92.70446247394443
      y: 185.0298473665281
      zoom: 0.4352752816480623
  rag_pipeline_variables: []
